<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/img/favicon.ico" type="image/png">
    <title>Adaptive Route Planner</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/lrm-here@1.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"/>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <link rel="stylesheet" href="./static/css/index.css">
    
 
  </head>

  <body>

    <div id="loadingScreen" class="loading-screen">
      <div class="loading-spinner">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
    </div>
    
    <div id="map"></div>
    <button id="sidePanelToggle" class="side-panel-toggle">≡</button>
    <div class="side-panel">
      <form>
        <div><br>
          <label for="start_point">Start Point:</label><br>
          <input type="text" id="start_point" name="start_point">
          <button type="button" class="clear-input-btn" data-input-id="start_point">X</button><br><br>

          <label for="end_point">End Point:</label><br>
          <input type="text" id="end_point" name="end_point">
          <button type="button" class="clear-input-btn" data-input-id="end_point">X</button><br><br>

          <input type="button" value="Get Route" id="getRouteBtn"><br><br>
          <input type="button" value="Start from your location" id="setLocationBtn">
          <br><br>
          <label for="route_preference">Route Preference:</label><br>
          <input type="radio" id="fastest" name="route_preference" value="fastest" checked>
          <label for="fastest">Fastest</label><br>
          <input type="radio" id="safest" name="route_preference" value="safest">
          <label for="safest">Safest</label><br>
          <input type="radio" id="less_rainy" name="route_preference" value="less_rainy">
          <label for="less_rainy">Less Rainy</label><br>
          <input type="radio" id="less_polluted" name="route_preference" value="less_polluted">
          <label for="less_polluted">Less Air Polluted</label><br>
          <input type="radio" id="less_traffic" name="route_preference" value="less_traffic">
          <label for="less_polluted">Less Traffic</label><br><br>
        </div>
      </form>
      <div id="autoUpdateLocation">
        <label for="autoUpdateSwitch">Auto-update location:</label>
        <input type="checkbox" id="autoUpdateSwitch" autocomplete="off"/><br>
      </div>
      <div id="routeCount" style="text-align: center; margin-top: 10px;"></div>
      <a href="/contact" class="contact-button">Contact Us</a>
    </div>

    <script src="./static/js/index.js"></script>

  </body>
</html>